/* 配置iconfont */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

/* 标题 */
.common-title {
    font-size: 24px;
    color: #18191C;
}

/* 按钮 带边框 用在AreaHeader右侧 */
.common-border-button {
    font-size: 13px;
    color: #18191C;

    padding: 8px 12px;
    margin-left: 10px;

    border: 1px solid #e3e5e7;
    border-radius: 8px;
}

.common-border-button i {
    font-size: 13px;
}

/* 文字变蓝动画 */
.common-fontblue {
    transition: color 0.2s;
}

.common-fontblue:hover {
    /* animation: fontBlue 0.2s 1 forwards; */
    color: #00aeec !important;
}

/* 背景变灰 */
.common-bgcgrey {
    transition: background-color 0.3s;
}

.common-bgcgrey:hover {
    background-color: #e3e5e7;
}