/* 配置iconfont */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

/* 标题 */
.common-title {
    font-size: 24px;
    color: #18191C;
}

/* 按钮 带边框 */
.common-border-button {
    font-size: 13px;
    color: #18191C;

    padding: 8px 12px;
    margin-left: 10px;

    border: 1px solid #e3e5e7;
    border-radius: 8px;
}

.common-border-button i {
    font-size: 13px;
}

/* 文字变蓝动画 */
.common-fontblue:hover {
    animation: fontBlue 0.2s 1 forwards;
}

@keyframes fontBlue {
    0%{

    }
    100% {
        color: #00aeec;
    }
}